@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100;
}
.body {
  background-image: url("/background pics/black stripes background.jpg");
  position: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  height: 100vh;
  width: 100vw;
  top: 0;
}
